<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Demo : 1</title>
	<script type="text/javascript" src="static\lib\angular\angular.min.js"></script>
</head>
<body ng-controller="appCtrl" >
	Your Sallary <input type="text" name="" ng-model="salary"><br>
	How much do you invest on Gadgets <input type="text" name="" ng-model="percentage"><br>
	Amolut to be spent on shopping <span>{{result() | currency}}</span>

	<script type="text/javascript">
		// never pollute global name space  IIFE Immediately Invoked Function Expression
		(function(){
			var app = angular.module("app" , []); // it defines a  module with no dependency It is not added to global scope , that is we are not polluting Global scope

			//register the controller
			app.controller("appCtrl" , function($scope){
				$scope.salary = 0 ;
				$scope.percentage = 0 ;
			//	$scope.amountSpend = $scope.salary*$scope.percentage;

				$scope.result = function(){
					return  $scope.salary * $scope.percentage * .01;
				};
			});
		})();
	</script>
</body>
</html>