<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Demo : 2</title>
	<script type="text/javascript" src="static\lib\angular\angular.min.js"></script>
</head>
<body ng-controller="appCtrl">
 {{greeting}} User! The current date/time is <span>{{now | date}}</span>.

	<script type="text/javascript">
		// never pollute global name space  IIFE Immediately Invoked Function Expression
		//(function(){
			var app = angular.module("app" , []); // it defines a  module with no dependency It is not added to global scope , that is we are not polluting Global scope

			//register the controller
			app.controller("appCtrl" , function($scope){
				$scope.now = new Date();
				$scope.greeting = "Hello ";
			});
		//})();
	</script>
</body>
</html>