<!DOCTYPE html>
<html>
<head>
	<title>$scope.$apply()</title>
	<script type="text/javascript" src="static\lib\angular\angular.min.js"></script>
</head>
<body ng-app="app">
	<div ng-controller="MyController">
	<h1>{{clock | date :'yyyy-MM-dd HH:mm:ssZ'}}</h1>
	</div>
	<script type="text/javascript">


		var app = angular.module("app" , [ ]);
		app.controller("MyController" , function($scope){
			$scope.clock =  new Date();
			var updateClock = function(){
				$scope.clock =new Date();
			};
			setInterval(function(){
				$scope.$apply(updateClock());
			} , 1000 );
			updateClock();
		});
	</script>
</body>
</html>