<!DOCTYPE html>
<html>
<head>
	<title>Simple rootscope </title>
	<script type="text/javascript" src="static\lib\angular\angular.min.js"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
	<h1>Hello {{name}} {{ lastName}}</h1>

	<script type="text/javascript">
		var app = angular.module("app" , [ ]); 
		// attaching name variable to rootscope 
		app.run(function($rootScope) {
			$rootScope.name = "Amol";
		});
		// attaching name variable to controller 
		app.controller("appCtrl" , function($scope){
			$scope.lastName = "Gaikwad"	
		});

	</script>
</body>
</html>