<!DOCTYPE html>
<html>
<head>
	<title>Add and Substract </title>
	<script type="text/javascript" src="static\lib\angular\angular.min.js"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
	<div>
		<button ng-click="add()">Add</button>
		<button ng-click="sub()"> Subtract</button>
		<h1>{{count}}</h1>

		<br>
		<br>

 		<h1>{{person}}</h1>
 		and their name : 
 		<h2>{{person.name}}</h2>
	</div>






	<script type="text/javascript">
		var app = angular.module("app" , [ ]); 
		app.controller("appCtrl" , function($scope){
			$scope.count = 0 ;
			$scope.add = function(){
				return $scope.count += 2 ;

			};
			$scope.sub = function(){
				return $scope.count -= 1;
			};
			$scope.person = {
				name : "Amol Gaikwad" 
			};
		});
	</script>	
</body>
</html>