<!DOCTYPE html>
<html ng-app="app">
<head>	
	<meta charset="utf-8" >
	<title>Demo 1</title>
	<link rel="stylesheet" type="text/css" href="static\lib\bootstrap\dist\css\bootstrap.min.css">
	<script src="static\lib\angular\angular.min.js"></script>
</head>
<body>
	<div class="container" ng-controller="appCtrl">	
		<h1 ng-bind="title"></h1>
		<h5 ng-bind-html="by"></h5>

		<ul>
			<li ng-repeat="technology in technologies">{{technology.name}}</li>
		</ul>

		<input type="text" name="" ng-model="person.name">
		{{person.name}}	
	</div>
	<script>
		var app = angular.module("app" , []);		
		app.controller("appCtrl" , function($scope){
			$scope.title = "Hello Angular ";
			$scope.by = "<i>Amol Gaikwad</i>"	;

			$scope.technologies = [
									{  name : "HTML"  } , 
									{  name : "CSS"  } , 
									{  name : "JS"  },
									{  name : "Bootstrap"  },
									{  name : "Angular JS"  }

								] 

		});
	</script>
</body>
</html>