<!DOCTYPE html>
<html>
<head>
	<title>Add - Substract</title>
	<link rel="stylesheet" type="text/css" href="static\lib\bootstrap\dist\css\bootstrap.min.css">
	<script src="static\lib\angular\angular.min.js"></script>
</head>
<body>
	<div class="container" ng-app="app" ng-controller="appCtrl">
		
		<button ng-click="{{add}}">Add</button>
		<button ng-click="{{sub}}">Subtract</button>
		<h1>{{likes}}</h1>

	</div>
	<script type="text/javascript">
		var app = angular.module("app" , []);
		app.controller("appCtrl" , function($scope){
			$scope.likes  = 0 ;
			$scope.add = +$scope.likes + 1;
			$scope.sub = +$scope.likes - 1;

		});
	</script>
</body>
</html>