<!DOCTYPE html>
<html>
<head>
	<title>Hello World</title>
	<link rel="stylesheet" type="text/css" href="static\lib\bootstrap\dist\css\bootstrap.min.css">
	<script src="static\lib\angular\angular.min.js"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
	<div class="container">
<!-- 		<h1>Hello World Application </h1>
		<input type="text" name="" ng-model="name"> -->
		<h1><!-- {{name}}  --> - {{clock}}</h1>	
	</div>

	<script type="text/javascript">
		var app = angular.module("app" , []);
		app.controller("appCtrl" , function($scope){
			var updateClock = function(){
				$scope.clock = new Date();
			};
			setInterval(function() {
				$scope.$apply(updateClock);
				},
				1000
			);
			updateClock();
		});
	</script>
</body>
</html>